.quick{margin-top:10px}

.quickLink {
    background: url("imgs/bgquicklink.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    float: left;
    height: 100px;
    margin: 6px;
    text-align: center;
    width: 115px;
}
.quickLink img {
    height: 48px;
    margin: 10px 0;
    width: 48px;
}
.quickLink span {
    clear: both;
    display: block;
    margin: 0 auto;
}
.quickLink:hover {
    border-color: #AAAAAA;
}

.head{padding:10px 0;border-bottom:solid 1px #ddd;color:#ddd}

/*
#tempFormtoUpload{
    min-height:100px;
    height:auto !important;
    height:100px;
}
*/
.dashboard_button {
    background: url("imgs/highlight_line.gif") repeat-x scroll left top #EAEAEA;
    border: 1px solid #C0C0C0;
    color: #A1A1A1;
    float: left;
    font-size: 11px;
    height: 80px;
/*
    line-height: 1.4em;
*/
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 8px 15px 30px;
    text-decoration: none;
    width: 133px;
}

.dashboard_button:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    height: 79px;
    padding-top: 9px;
}
a, a:link, a:active, a:visited{color:#A1A1A1}
a:hover {
    color: #333333;
    text-decoration: none;
}

.dashboard_button_heading {
    color: #4A4A4A;
    display: block;
    font-size: 14px;
    height: 35px;
    margin: 6px 0 0;
    padding: 0 0 0 55px
/*
    line-height: 29px;
*/
/*
    padding: 0 0 0 40px;
*/
}

#autoData{
width:100%;
border-right:solid 1px #eee
}
#uploader{
    width:360px;
    padding:0px;
    -moz-border-radius:10px
}

input, textarea, select{margin:8px 0}


.car_thumbs{
	width:100px;
	height:90px;
	margin:1px;
	padding:2px;
	background:#ddd;position:relative
	}
.car_thumbs img{ width:100%;height:100%}
.car_thumbs .del_image{
	position:absolute;
	background:#000;
	color:red;
	top:2px;
	right:2px;
	background:url("imgs/deleteico.png") no-repeat 0 0;
	width:16px;
	height:16px;
	cursor:pointer
}

#boxUp{
	width:350px;
	padding:15px 0 0
}

#ladoDerecho{
	width:450px;
	background:#000;
	padding:15px
}

th, td {
    border: 1px solid #EEEEEE;
    padding: 5px;
    width: 100px;
}
th {
    font-weight: bold;
    background:#eee;
    text-align:center;
    color:#555
}

#menunav {
	background:url("imgs/navbg.png") repeat-x scroll left bottom #939393
	height:30px
}


.controles{border:none}
.controles a:hover{text-decoration:none}


#menunav a{ 
    color: #FFFFFF;
    display: block;
    float: left;
    height: 37px;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
    }

#menunav a:hover {
    background: url("imgs/pro_line_1.gif") repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0 20px;
    color:#fff
}

#menunav ul{
	display: table-cell;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
	}
	
#menunav li{
	float: left;
    height: auto;
    margin: 0;
    padding: 0;
    }
#menunav li:hover{

	background: url("imgs/pro_line_1.gif") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 2px 0 10px;
}
.nav-divider {
    background: url("imgs/divider.jpg") no-repeat scroll center top transparent;
    float: left;
    height: 30px;
    width: 15px;
}


/* Categories navigation --------------------------------- */
#categories_strip { background:#939393 url(imgs/navbg.png) repeat-x left bottom;
	height: 40px;
    margin-bottom: 25px;
    position: relative;
    z-index: 101;
  }

#categories_strip ul, #categories_strip ul li, #categories_strip ul ul { list-style: none; margin:0; padding: 0; }
#categories_strip ul { position: relative; z-index: 597; float: left; font-family:Arial, Helvetica, sans-serif; }
#categories_strip ul li { float: left; line-height: 1.4em; vertical-align: middle; text-transform:uppercase; }
#categories_strip ul li.hover, #categories_strip ul li:hover { position: relative; z-index: 599; cursor: default; }
#categories_strip ul ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#categories_strip ul ul li { float: none; font-size:12px; }
#categories_strip ul ul ul { top: 0; left: 99%; }
#categories_strip ul li:hover > ul { visibility: visible; display:block; }

/* Default CSS Drop-Down Menu Theme*/
#categories_strip ul { font-weight: bold; font-size:14px; }
#categories_strip ul li a { padding: 10px 15px 9px 15px; display:block;  }
#categories_strip ul li a:hover { display:block; }
#categories_strip ul li a:link, #categories_strip ul li a:visited	{  text-decoration: none; display:block; }

#categories_strip ul li a {
    background: url("imgs/nav_sepretor.png") no-repeat scroll right top transparent;
    border-left: medium none;
    border-right: medium none;
    color: #FFFFFF;
}
	
#categories_strip ul li a:hover {
    background: url("current_nav/current_nav.png") no-repeat scroll right bottom #960000;
    color: #FFFFFF;
}


/* -- level mark -- */
#categories_strip ul ul { width: 190px; margin-top:0px; }
#categories_strip ul ul li ul li ul { margin-top:2px; margin-left:2px; }
#categories_strip ul ul li { font-weight: bold;  margin-top: 0px;   }


#categories_strip li { font-size:13px;  }
#categories_strip ul ul li { float: none; font-size:12px;   }
#categories_strip ul li ul li a { padding:10px 15px; line-height:normal; text-transform:capitalize; }

label,label{color:#888;font-size:14px}
select,input[type=text],#loginBox input[type=password],#registerBox input[type=text],#registerBox input[type=password]{
	width:93%;height:30px;background:#eee;margin:5px 0
}
textarea{
	width:93%;background:#eee;margin:5px 0
}
select option{padding:5px}

#logo{position:absolute;right:10px;top:1px;z-index:102}

fieldset{
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin:5px 0;
}

legend{
	color: #555555;
	font-family: impact;
	font-size: 17px;
}

.infoControl{
	position:fixed;
	bottom:0;
	background:none;
	padding:0px;
	right:2px;
}
